<%# if auction.client == %>
 <%= form_tag auctions_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an auction"
  %>
<% end %>




 <ul><%@auctions.each do |auction| %>
 <li><%= auction.client.email%></li>
 <li><%= auction.bill.category%></li>
 <li><%= auction.bill.address%></li>
 <% end %>
</ul>





