<p id="notice"><%= notice %></p>

<h1>Auctions</h1>


    <% @auctions.each do |auction| %>
      <ul>
        <li><%= auction.bill %></li>
        <li><%= link_to 'Show', auction %></li>
        <li><%= link_to 'Edit', edit_auction_path(auction) %></li>
        <li><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>


<%= link_to 'New Auction', new_auction_path %>
