<%= simple_form_for(@bill) do |f| %>
  <div class="form-inputs">
    <%= f.association :category, prompt: "Select a category" %>
    <%= f.input :current_provider %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
