<% bids.each do |bid| %>
  <div class="card-bill-auction">
    <div class="card-body items">
      <div class="bulb" id="light">
        <% if bid.status == "completed" %>
          <i class="far fa-lightbulb lights"></i>
        <% else %>
          <i class="far fa-lightbulb"></i>
        <% end %>
      </div>
      <div class="card-bid-prov">
        <%= bid.provider.company %> -
        <%= bid.price %> €
      </div>
      <div class="economy">
        <%= Integer(bid.bill.price) - Integer(bid.price) %> €
      </div>
      <div class="items-right">
        <% if policy(bid).select? %>
          <%= link_to "Select", select_bid_path(bid), id: "buttonselect", method: :patch, remote: true %> |
        <% end %>
        <% if policy(bid).show? %>
          <button type="button" class="bid-show" data-toggle="modal" data-target="#bid<%= bid.id %>">
            <i class="far fa-eye "></i>
          </button>
        <% end %>
        <% if policy(bid).pay? %>
          <%= link_to "Pay this bid", pay_bid_path(bid) %> |
        <% end %>
        <% if policy(bid).destroy? %>
          <%= link_to bid_path(bid), method: :delete, data: { confirm: 'Are you sure?' } do %> |
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="bid<%= bid.id %>" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm">
     <div class="modal-content" id = "modal-client">
      <div class = "cross-client">
      <%= link_to bill_path(bid.bill) do %>
        <i class="fas fa-times"></i>
       <% end %>
     </div>
       <h3 class="text-center" id="first-element-modal">Bid number <%= bid.id %></h3>
       <div class= "text-center"><strong>Provider </strong></div><p class= "text-center"><%= bid.provider.company %></p>
       <div class= "text-center"><strong>Price </strong></div><p class= "text-center"><%= bid.price %> €</p>
       <div class= "text-center"><strong>Comment </strong></div><p class= "text-center"><%= bid.content %></p>
       <div class= "text-center"><strong>Status </strong></div><p class= "text-center last-element-modal"><%= bid.status %></p>

     </div>
    </div>
  </div>
<% end %>
