<div class="container">
  <div class="row">
    <% @bills.each do |bill| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card-bill" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.05)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-bill-category"><%= bill.category.name %></div>
          <div class="card-bill-description">
            <h2><%= bill.current_provider %></h2>
            <p>Price: <%= bill.price %></p>
            <p>Address: <%= bill.address %></p>
          </div>
          <div class="card-bill-alter">
            <% if policy(bill).edit? %>
              <%= link_to edit_bill_path(bill) do %>
                <i class="far fa-edit"></i>
              <% end %>
            <% end %>
            <% if policy(bill).destroy? %>
              <%= link_to bill_path(bill), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
          <div class="card-bill-bids">
            <% if bill.auction.present? %>
              <h2><%= bill.auction.bids.count %> BIDS</h2>
              <% if policy(bill.auction).destroy? %>
                <%= link_to auction_path(bill.auction.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            <% else %>
              <% if policy(Auction).create? %>
                <%= form_tag auctions_path do %>
                  <%= hidden_field_tag 'bill_id', bill.id %>
                  <%= submit_tag 'Create an auction', class: 'card-bill-bids-new' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <img class="card-bill-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <% if policy(bill).show? %>
            <%= link_to '', bill_path(bill) , class: 'card-bill-link' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
