<p>
  <strong>User:</strong>
  <%= @bill.client.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bill.category %>
</p>

<p>
  <strong>Current provider:</strong>
  <%= @bill.current_provider %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bill.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bill.price %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back to client dashboard', bills_path %> |
<% unless @bill.auction == nil %>
  <%= link_to 'Back to auction', auction_path(@bill.auction) %>
<% end %>
