<div class="grid">
  <div class="div-bill-show grid-one">
    <h3>Bill number <%= @auction.bill.id%></h3>
    <div class="div-bill-info">
      <p><strong>User:</strong> <%= @bill.client.first_name %> <%= @bill.client.last_name %></p>
      <p><strong>Category:</strong> <%= @bill.category.name %></p>
      <p><strong>Current provider:</strong> <%= @bill.current_provider %></p>
      <p><strong>Current price:</strong> <%= @bill.price %></p>
      <p><strong>Address:</strong> <%= @bill.address %></p>
    </div>

    <div class="div_bill_edit">
      <% if policy(@bill).edit? %>
      <div>
        <%= link_to edit_bill_path(@bill) do %>
          <i class="far fa-edit"></i>
      <% end %>
        <button type="button" class="oeil" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="far fa-eye "></i></button>
        <%= link_to dashboard_path do %>
          <i class="fas fa-undo back-d"></i>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

<!-- Eye modal -->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-image">
        <%= cl_image_tag @bill.photo %>
      </div>
    </div>
  </div>

  <div class= "grid-two" id="othermap" data-markers="<%= @marker.to_json %>"></div>
    <div class="div-auction-show grid-three">
      <h3 class= "titre-bid">Your Bids</h3>
      <% unless @auction == nil %>
          <% if policy(Bid).create? %>
            <%= link_to "Create a bid", new_auction_bid_path(@auction) %>
          <% end %>
          <div id="selectable-bids">
            <%= render 'bills/selectable_bids', bids: @bids, auction: @auction %>
          </div>
      <% end %>

  </div>

</div>
