

<div class="grid">
  <div class="div-bill-show grid-one">
    <div class="div-bill-info">
      <h3>Your Bill</h3>
      <p><strong>User:</strong> <%= @bill.client.email %></p>
      <p><strong>Category:</strong> <%= @bill.category.name %></p>
      <p><strong>Current provider:</strong> <%= @bill.current_provider %></p>
      <p><strong>Address:</strong> <%= @bill.address %></p>
      <p><strong>Price:</strong> <%= @bill.price %></p>
      <p><strong>Bill number <%= @auction.bill.id%></strong></p>
    </div>

    <div class="div_bill_edit">
      <% if policy(@bill).edit? %>
      <div>
        <i class="far fa-edit edit"></i><%= link_to 'Edit', edit_bill_path(@bill) %> |
        <button type="button" class="oeil" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="far fa-eye "></i></button> |
        <i class="fas fa-undo back-d"></i><%= link_to 'Back', dashboard_path %>
      <% end %>
      </div>
    </div>
  </div>


<!-- Eye modal -->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-image">
        <%= cl_image_tag @bill.photo %>
      </div>
    </div>
  </div>

  <div class= "grid-two" id="othermap" data-markers="<%= @marker.to_json %>"></div>
    <div class="div-auction-show grid-three">
      <h3 class= "titre-bid">Your Bid</h3>
      <% unless @auction == nil %>
          <% if policy(Bid).create? %>
            <%= link_to "Create a bid", new_auction_bid_path(@auction) %>
          <% end %>
          <div id="selectable-bids">
            <%= render 'bills/selectable_bids', bids: @bids, auction: @auction %>
          </div>
      <% end %>

  </div>

</div>








