<p>
  <strong>User:</strong>
  <%= @bill.client.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bill.category %>
</p>

<p>
  <strong>Current provider:</strong>
  <%= @bill.current_provider %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bill.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bill.price %>
</p>

<% if policy(@bill).edit? %>
  <%= link_to 'Edit', edit_bill_path(@bill) %> |
  <%= link_to 'Back to dashboard', dashboard_path %>
  <% unless @bill.auction == nil %>
    | <%= link_to 'Back to auction', auction_path(@bill.auction) %>
  <% end %>
<% end %>

<br><br>
<%= cl_image_tag @bill.photo%>
