<div class="wrapper-landing-page">
  <div class="container">
    <div class="banner-content">
      <%= link_to root_path, class: "Logo-bidnbill-landing-page-white" do %>
      # <%= image_tag "logo-landing-page-n.svg", height: 140 %>
      <% end %>
        <h2>Partout du plus offrant on n'attend que l'enchère</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="row-merged">
        <div class="col-xs-12 col-md-4">
          <div class="card-ui" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url('');">
          <%= link_to root_path, class: "card-icons invoice" do %>
          <%= image_tag "bill.svg" %>
          <% end %>
            <div class="card-description">
              <h1>Sélectionner une facture</h1>
              <p>Télécharger votre dernière facture d'électricité, gaz, box/téléponie, assurance etc...</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card-ui" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url('');">
            <%= link_to root_path, class: "card-icons law" do %>
            <%= image_tag "law.svg" %>
            <% end %>
            <div class="card-description">
              <h1>Créer une enchère inversée</h1>
              <p>L'enchère inversée que vous créez vous permet de soumettre directement, de manière anonymisée, vos données de consommation à la concurrence .</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
        <div class="card-ui" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url('');">
          <%= link_to root_path, class: "card-icons eyeglasses" do %>
          <%= image_tag "eyeglasses.png" %>
          <% end %>
          <div class="card-description">
            <h1>Consulter les résultats</h1>
            <p>Accéder aux résultats de votre enchère et sélectionner l'offre de marché qui correspond à vos besoins.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

