<div class="modal fade auction-<%= auction.id %> text-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content all-auctions-modal">

      <div class= "cross">
        <%= link_to dashboard_path do %>
            <i class="fas fa-times"></i>
          <% end %>
      </div>


        <div class = "text-center first"><strong>Client</strong></div>
          <p><%= auction.client.first_name%> <%= auction.client.last_name%></p>
        <div class = "text-center"><strong>Current Provider</strong></div>
          <p><%= auction.bill.current_provider%></p>
        <div class = "text-center"><strong>Category</strong></div>
          <p><%= auction.bill.category.name%></p>
        <div class = "text-center"><strong>Number</strong></div>
          <p> <%= auction.bill.id%></p>
        <div class = "text-center"><strong>Address</strong></div>
          <p><%= auction.bill.address%></p>
        <div class = "text-center"><strong>Auction Price</strong></div>
          <p><%= auction.bill.price%>€</p>

        <div class = "text-center"><strong>Created at</strong></div>
          <p><%= auction.bill.created_at%></p>
        <div class = "text-center"><strong>Consumption</strong></div>
          <% if auction.bill.category.name == "Gaz"%>
            <p><%= auction.bill.consumption %></p>
          <% elsif auction.bill.category.name == "Electricité"%>
            <p><%= auction.bill.consumption %>kWh</p>
           <% end %>



        <% if policy(Bid).create? %>
          <%= link_to "Create a bid", new_auction_bid_path(auction), class: "btn btn-info up create" %>
        <% end %>

        <% if policy(auction.bill).show? %>
          <%= link_to "Back to bill number #{@auction.bill.id}", bill_path(@auction.bill) %> |
        <% end %>

    </div>
  </div>
</div>
