<div class="wrapper dashboard-flexbox">

  <ul class="nav nav-tabs">
    <li class="active"><a  href="#first-a" data-toggle="tab" class = "couleur"><h3 class="black">All auctions</h3></a></li>
    <li><a href="#second-a" data-toggle="tab" class = "couleur"><h3 class="black">My bids</h3></a></li>
    <li><a href="#third-a" data-toggle="tab" class = "couleur"><h3 class="black">Won bids</h3></a></li>
    <li><a href="#forth-a" data-toggle="tab" class = "couleur"><h3 class="black">My Clients</h3></a></li>
  </ul>
  <div class="dashboard-container tab-content">

    <div class="tab-pane active" id="first-a">
      <div class="dashboard-container-flexbox">
        <div class="first-column">
          <%= form_tag provider_dashboard_path, method: :get, multipart: true, class: "form-inline" do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find an auction"%>
            <%= text_field_tag :where, params[:where], class: "form-control", placeholder: "Where?", id: "bill_address"%>
            <%= submit_tag "Search", class: "form-control btn btn-info up" %>
          <% end %>

          <% if @other_auctions.present? %>
            <% @other_auctions.each do |auction| %>
              <div class="card card-auction">
                <div class="card-body">
                  <button type="button" class="btn btn-primary btn-eye up" data-toggle="modal" class= "card-auction-right" data-target=".auction-<%= auction.id %>"><i class="far fa-eye"></i>
                  </button>
                  <h5 class="black-auction"><%= "Auction #{auction.id}" %></h5>
                </div>
              </div>
              <div class="modal fade auction-<%= auction.id %> text-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <%# @other_auctions.each do |auction| %>
                      <div class = "text-center first"><%= auction.client.first_name%><%= auction.client.last_name%></div>
                      <div class = "text-center"><%= auction.bill.category.name%></div>
                      <div class = "text-center">Number: <%= auction.bill.id%></div>
                      <div class = "text-center">Address: <%= auction.bill.address%></div>
                      <div class = "text-center"><%= auction.bill.price%></div>
                      <div class = "text-center"><%= auction.bill.price%></div>
                      <div class = "text-center">€<%= auction.category.price_cents%></div>

                      <% if policy(Bid).create? %>
                        <%= link_to "Create a bid", new_auction_bid_path(auction), class: "btn btn-info up create" %>
                      <% end %>
                    <%# end %>
                    <% if @bids.present? %>
                      <h2>Bids:</h2>
                      <ul>
                        <% @bids.each do |bid| %>
                          <li>
                            <% if policy(bid).show? %>
                              <%= link_to "Bid status #{bid.status}", bid_path(bid) %> |
                            <% end %>
                            <% if policy(bid).select? %>
                              <%= link_to "Select this bid", select_bid_path(bid) %>
                            <% end %>
                            <% if policy(bid).pay? %>
                              <%= link_to "Pay this bid", pay_bid_path(bid) %>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                      <% if policy(@auction).destroy? %>
                        <%= link_to 'Destroy Auction', auction_path(@auction), method: :delete, data: { confirm: 'Are you sure?' } %> |
                      <% end %>
                      <% if policy(@auction.bill).show? %>
                        <%= link_to "Back to bill number #{@auction.bill.id}", bill_path(@auction.bill) %> |
                      <% end %>
                        <%= link_to 'Back to dashboard', dashboard_path %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="second-column">
          <div id="map" class="little-map" style="width: 100%; height: 103%;"; data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="second-a">

      <div class="dashboard-container-flexbox">

        <div class="first-column">
          <%= form_tag provider_dashboard_path, method: :get, multipart: true, class: "form-inline" do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find an auction"%>
            <%= text_field_tag :where, params[:where], class: "form-control", placeholder: "Where?", id: "bill_address"%>
            <%= submit_tag "Search", class: "form-control btn btn-info up" %>
          <% end %>

          <% if @my_auctions.present? %>
            <% @my_auctions.each do |auction| %>
              <div class="card card-auction">
                <div class="card-body">
                  <button type="button" class="btn btn-primary btn-eye" data-toggle="modal" data-target=".auction-<%= auction.id %>"><i class="far fa-eye"></i></button>
                  <h5 class="black-auction"><%= "Auction #{auction.id}" %></h5>
                </div>
              </div>

                  <div class="modal fade auction-<%= auction.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">

                        <div class = "text-center first"><%= auction.client.first_name%><%= auction.client.last_name%></div>
                        <div class = "text-center"><%= auction.bill.category.name%></div>
                        <div class = "text-center">Number: <%= auction.bill.id%></div>
                        <div class = "text-center"><%= auction.bill.price%></div>
                        <div class = "text-center">€<%= auction.category.price_cents * 10%></div>


                        <% if policy(Bid).create? %>
                          <%= link_to "Create a bid", new_auction_bid_path(auction), class: "btn btn-info up create" %>
                        <% end %>


                        <% if @bids.present? %>
                           <h2>Bids:</h2>
                            <% @bids.each do |bid| %>
                          <ul><li>
                            <% if policy(bid).show? %>
                              <%= link_to "Bid status #{bid.status}", bid_path(bid) %> |
                            <% end %>
                            <% if policy(bid).select? %>
                              <%= link_to "Select this bid", select_bid_path(bid) %>
                            <% end %>
                            <% if policy(bid).pay? %>
                              <%= link_to "Pay this bid", pay_bid_path(bid) %>
                            <% end %>
                           </li></ul>
                <% end %>

                        <% if policy(@auction).destroy? %>
                          <%= link_to 'Destroy Auction', auction_path(@auction), method: :delete, data: { confirm: 'Are you sure?' } %> |
                        <% end %>
                        <% if policy(@auction.bill).show? %>
                          <%= link_to "Back to bill number #{@auction.bill.id}", bill_path(@auction.bill) %> |
                        <% end %>
                        <%= link_to 'Back to dashboard', dashboard_path %>
                        <% end %>

                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
         </div>



        <div class="second-column">
          <div id="second_map" class="little-map" data-markers="<%= @markers.to_json %>"></div>
        </div>
    </div>
  </div>


    <div class="tab-pane" id="third-a">
      <div class="dashboard-container-flexbox">
        <div class="first-column">

          <% @won_auctions.each do |auction| %>
            <div class="card card-auction">
              <div class="card-body">
                <% won_bid = auction.bids.where(status: "completed").first %>
                <button type="button" class="btn btn-primary btn-eye" data-toggle="modal" data-target=".auction-<%= auction.id %>"><i class="far fa-eye"></i></button>
                <h5 class="black-auction"><%= "Auction #{auction.id}" %></h5>
                <span class="prix">Amount: <%= humanized_money_with_symbol(auction.category.price_cents) %></span>
                  <%= form_tag orders_path do %>
                    <%= hidden_field_tag 'bid_id', won_bid.id %>
                    <%= submit_tag 'Add', class: 'add' %>
                  <% end %>
              </div>
                </div>



             <div class="modal fade auction-<%= auction.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">

                      <div class="text-center first"><%= auction.client.first_name%><%= auction.client.last_name%></div>
                      <div class="text-center"><%= auction.bill.category.name%></div>
                      <div class="text-center">Number: <%= auction.bill.id%></div>
                      <div class="text-center"><%= auction.bill.price%></div>
                      <div class="text-center"><%= auction.bill.price%></div>
                      <div class="text-center">€<%= auction.category.price_cents%></div>





                      <% if @bids.present? %>
                        <h2>Bids:</h2>
                        <% @bids.each do |bid| %>
                        <ul>
                          <li>
                            <% if policy(bid).show? %>
                            <%= link_to "Bid status #{bid.status}", bid_path(bid) %> |
                            <% end %>
                            <% if policy(bid).select? %>
                            <%= link_to "Select this bid", select_bid_path(bid) %>
                            <% end %>
                            <% if policy(bid).pay? %>
                            <%= link_to "Pay this bid", pay_bid_path(bid) %>
                            <% end %>
                          </li>
                        </ul>
                      <% end %>

                      <% if policy(@auction).destroy? %>
                        <%= link_to 'Destroy Auction', auction_path(@auction), method: :delete, data: { confirm: 'Are you sure?' } %> |
                      <% end %>
                      <% if policy(@auction.bill).show? %>
                        <%= link_to "Back to bill number #{@auction.bill.id}", bill_path(@auction.bill) %> |
                      <% end %>
                      <%= link_to 'Back to dashboard', dashboard_path %>
                    <% end %>
                  </div>
                </div>
              </div>
               <% end %>
            </div>


        <div class="second-column">
          <div class="panel panel-default">
            <div class="panel-heading">
              Basket
            </div>
            <div class="panel-body">
              <div id="cart">
                <% if @pending_order %>
                  <% @pending_order.bids.each do |bid| %>
                    <%= render "basket_item", bid: bid %>
                  <% end %>
                <% end %>
              </div>
              <div class="clearfix">&nbsp;</div>
                <% if @pending_order %>
                  <%= form_tag order_payments_path(@pending_order) do %>
                    <div class="text-center"> Total: <%= humanized_money_with_symbol(@pending_order.amount) %></div>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-name="Won Auction(s)"
                      data-email="<%= current_user.email %>"
                      data-description="<%= @pending_order.bids.count %> Bids"
                      data-amount="<%= @pending_order.amount_cents %>"
                      data-currency="<%= @pending_order.amount.currency %>"></script>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
         </div>
          </div>



    <div class="tab-pane" id="forth-a">
      <div class="dashboard-container-flexbox">
        <div class="first-column">
          <%= form_tag provider_dashboard_path, method: :get, multipart: true, class: "form-inline" do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find an auction"%>
            <%= text_field_tag :where, params[:where], class: "form-control", placeholder: "Where?", id: "bill_address"%>
            <%= submit_tag "Search", class: "form-control btn btn-info up" %>
          <% end %>

        <% if @my_clients.present? %>
        <% @my_clients.each do |auction| %>
          <div class="card card-auction">
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-eye" data-toggle="modal" data-target=".auction-<%= auction.id %>"><i class="far fa-eye"></i></button>
                <h5 class="black-auction"><%= "Auction #{auction.id}" %></h5>
              </div>
            </div>
                 <div class="modal fade auction-<%= auction.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                      <div class="text-center first"><%= auction.client.first_name%><%= auction.client.last_name%></div>
                      <div class="text-center"><%= auction.bill.category.name%></div>
                      <div class="text-center">Number: <%= auction.bill.id%></div>
                      <div class="text-center"><%= auction.bill.price%></div>
                      <div class="text-center">€ <%= auction.category.price_cents%></div>


                      <% if policy(Bid).create? %>
                        <%= link_to "Create a bid", new_auction_bid_path(auction), class: "btn btn-info up create" %>
                      <% end %>


                    <% if @bids.present? %>
                      <h2>Bids:</h2>
                      <% @bids.each do |bid| %>
                        <ul>
                          <li>
                            <% if policy(bid).show? %>
                            <%= link_to "Bid status #{bid.status}", bid_path(bid) %> |
                            <% end %>
                            <% if policy(bid).select? %>
                            <%= link_to "Select this bid", select_bid_path(bid) %>
                            <% end %>
                            <% if policy(bid).pay? %>
                            <%= link_to "Pay this bid", pay_bid_path(bid) %>
                            <% end %>
                          </li>
                        </ul>
                      <% end %>

                      <% if policy(@auction).destroy? %>
                        <%= link_to 'Destroy Auction', auction_path(@auction), method: :delete, data: { confirm: 'Are you sure?' } %> |
                      <% end %>
                      <% if policy(@auction.bill).show? %>
                        <%= link_to "Back to bill number #{@auction.bill.id}", bill_path(@auction.bill) %> |
                      <% end %>
                      <%= link_to 'Back to dashboard', dashboard_path %>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
       <div class="second-column">
          <div id="third_map" class="little-map" style="width: 100%; height: 103%;"; data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>
    </div>

      </div>


      </div>






