 <h1>All auctions</h1>
  <% if @other_auctions.present? %>
      <% @other_auctions.each do |auction| %>
        <li><%= link_to "Auction #{auction.id}", auction_path(auction) %></li>
      <% end %>
  <% end %>


  <h1>My auctions</h1>
      <% @my_auctions.each do |auction| %>
        <li><%= link_to "Auction #{auction.id}", auction_path(auction) %></li>
  <% end %>


  <h1>Won auctions</h1>
      <% @won_auctions.each do |auction| %>
        <li>
          <% won_bid = auction.bids.where(status: "completed").first %>
          <%= link_to "Auction #{auction.id}", auction_path(auction) %> |
          <%= link_to "Pay", pay_bid_path(won_bid) %>
        </li>
  <% end %>

  <h1>Clients</h1>
      <% @my_clients.each do |auction| %>
        <li><%= link_to "Auction #{auction.id}", auction_path(auction) %></li>
      <% end %>
