<% if policy(Auction).dashboard? %>
  <h1>All auctions</h1>
  <% unless @other_auctions == nil %>
    <% if policy(@other_auctions.first).showprovider? %>
      <% @other_auctions.each do |auction| %>
        <li><%= link_to "Auction #{auction.id}", auction_path(auction) %></li>
      <% end %>
    <% end %>
  <% end %>


  <h1>My auctions</h1>
  <% unless @my_auctions == nil %>
    <% if policy(@other_auctions.first).showprovider? %>
      <% @my_auctions.each do |auction| %>
        <li><%= link_to "Auction #{auction.id}", auction_path(auction) %></li>
      <% end %>
    <% end %>
  <% end %>


  <h1>Won auctions</h1>
  <% unless @won_auctions == nil %>
    <% if policy(@other_auctions.first).showprovider? %>
      <% @won_auctions.each do |auction| %>
        <li>
          <% won_bid = auction.bids.where(status: "completed").first %>
          <%= link_to "Auction #{auction.id}", auction_path(auction) %> |
          <%= link_to "Pay", pay_bid_path(won_bid) %>
        </li>
      <% end %>
    <% end %>
  <% end %>

  <h1>Clients</h1>
  <% unless @my_clients == nil %>
    <% if policy(@other_auctions.first).showprovider? %>
      <% @my_clients.each do |auction| %>
        <li><%= link_to "Auction #{auction.id}", auction_path(auction) %></li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
